<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <div class="card-wrapper">
      <div class="card1">
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img src="/images/products/<%= producto.image[0] %>" alt="sofa image">
              <img src="/images/products/<%= producto.image[1] %>" alt="sofa image">
              <img src="/images/products/<%= producto.image[2] %>" alt="sofa image">
              <img src="/images/products/<%= producto.image[3] %>" alt="sofa image">
            </div>
          </div>
          <div class="img-select">
            <div class="img-item">
              <a href="#" data-id="1">
                  <img src="/images/products/<%= producto.image[0] %>" alt="sofa image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="2">
                <img src="/images/products/<%= producto.image[1] %>" alt="sofa image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="3">
                <img src="/images/products/<%= producto.image[2] %>" alt="sofa image">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="4">
                <img src="/images/products/<%= producto.image[3] %>" alt="sofa image">
              </a>
            </div>
          </div>
        </div>

        <div class="product-content">
          <h2 class="product-title"><%= producto.productName %></h2>
          <div class="product-price1">
            <p class="price">Precio: <span><%= producto.price %></span></p>
          </div>

          <div class="product-detail">
            <p><%= producto.description %></p>
            <ul>
              <li>Disponibilidad: <span><%= producto.availability %></span></li>
              <li>Categoría: <span><%= producto.category %></span></li>
              <li>Medidas: <span><%= producto.measures %></span></li>
              <li>Origen: <span><%= producto.origin %></span></li>
            </ul>
          </div>

          <div class="purchase-info">
            <input type="number" min="0" id="1">
            <button type="button" class="btn">
              Añadir al carrito <i class="fas fa-shopping-cart"></i>
            </button>
          </div>

          <div class="social-links">
            <p>Compartir</p>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>